POSTGRES_PASSWORD=change_me_strong_hex_password
JWT_SECRET=change_me_long_random_secret
CLIENT_URL=https://webcordes.ru
ADMIN_USERNAMES=your_admin_login
CLIENT_DOWNLOAD_MAX_SIZE_MB=500
VAPID_SUBJECT=mailto:admin@webcordes.ru
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
