PORT=3001
DATABASE_URL="postgresql://webcord:CHANGE_ME_STRONG_PASSWORD@postgres:5432/webcord?schema=public"
JWT_SECRET="CHANGE_ME_SUPER_SECRET_JWT"
CLIENT_URL="http://localhost:8080"
ADMIN_USERNAMES="your_admin_login"
UPLOAD_DIR="./uploads"
TURN_URLS="turn:webcordes.ru:3478?transport=udp,turn:webcordes.ru:3478?transport=tcp"
TURN_USERNAME="webcord"
TURN_CREDENTIAL="CHANGE_ME_TURN_PASSWORD"
