PORT=3001
DATABASE_URL="postgresql://webcord:CHANGE_ME_STRONG_PASSWORD@postgres:5432/webcord?schema=public"
JWT_SECRET="CHANGE_ME_SUPER_SECRET_JWT"
CLIENT_URL="http://localhost:8080"
UPLOAD_DIR="./uploads"
